<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>აღრიცხვა</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        button{ 
    font-size: 20px;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    border-radius: 999px;
}

button:hover {
    background-color: #444;
    color:aliceblue;
  }
    </style>
    <body>
        <h2>აღრიცხვა</h2>
        <div id="menu-container"></div>
        <script src="/static/menu.js"></script>

        <button>აღრიცხვა</button>
    </body>
</html>
