<!DOCTYPE html>
<html lang="en">
    <head>
        <title>დამატება</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/authentication/static/styles.css">
    </head>
    <body>
        <div class="buttons">
            <a href="/templates/index.html">მთავარი</a>
        </div>
        <form class="add" id="Form">
            <input id="name" name="name" type="text" placeholder="სახელი" maxlength="15" required>
            <input id="surname" name="surname" type="text" placeholder="გვარი" maxlength="20" required>
            <input id="email" name="email" type="email" placeholder="email@gmail.com" required>
            <input id="number" name="number" type="tel" placeholder="000 00 00 00" required>
            <input id="submit-btn" name="submit-btn" class="btn btn-primary" type="button" value="submit">
        </form>
        <p id="success" style="display: none;">ფორმა შენახულია</p>
        <script src="script.js"></script>
    </body>
</html>