<!DOCTYPE html>
<html lang="en">
<head>
    <title>Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
    <style>
      th, td { padding: 8px; text-align: left; }
    </style>
</head>
<body>
    <h2>კურსების და სტუდენტების ინფორმაცია</h2>
    <a class="home_button" href="/index.html">მთავარი</a>

    <table id="courses-table">
        <thead>
            <tr>
                <th>კურსის ID და რაოდენობა</th>
                <th>ჯგუფი</th>
                <th>სტუდენტის ID</th>
                <th>სახელი</th>
                <th>გვარი</th>
                <th>Email</th>
                <th>ტელეფონი</th>
            </tr>
        </thead>
        <tbody id="courses-tbody">
            <!-- rows added here -->
        </tbody>
    </table>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        fetch('/fetch-courses-data')
          .then(response => response.json())
          .then(data => {
            const tbody = document.getElementById("courses-tbody");
            data.forEach(course => {
              const row = document.createElement('tr');
              row.innerHTML = `
                <td>${course.course_id} - ${course.classes}</td>
                <td>${course.group_name}</td>
                <td>${course.student_id}</td>
                <td>${course.name}</td>
                <td>${course.surname}</td>
                <td>${course.email}</td>
                <td>${course.phone}</td>
              `;
              tbody.appendChild(row);
            });
          })
          .catch(error => console.error('Error, unable to get students:', error));
      });
    </script>
</body>
</html>
