body {
    padding: 10px;
}

.card { 
    transition: transform 0.2s; 
} 

.card:hover { 
    transform: scale(1.02); 
}

.close {
    background-color: rgb(165, 200, 200);
    color: black;
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
}

.close .closebtn {
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    font-weight: bolder;
}




@media (max-width: 600px) {
    .listing-flex {
        flex-direction: column;
    }
    .ls-pic {
        max-width: 100%;
    }
}

