<!--made this html so i dont have to repeat this code in every page that displays posts-->
<!--Bootstrap’s Pagination features may be helpful for displaying pages on the front-end (in your HTML)-->
{% if page_pag %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">

    {% if page_pag.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_pag.previous_page_number }}">
          Previous
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
    {% endif %}

    <li class="page-item active">
      <span class="page-link">
        Page {{ page_pag.number }} of {{ page_pag.paginator.num_pages }}
      </span>
    </li>

    {% if page_pag.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_pag.next_page_number }}">
          Next
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
    {% endif %}

  </ul>
</nav>
{% endif %}