{% extends "auctions/layout.html" %}
 
{% block body %}
    <h2>Create Listing</h2>
    <form action="{% url 'listing' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="description" placeholder="description">
        </div>
        <div class="form-group">      
            <input class="form-control" type="number" name="bid" placeholder="Starting Bid">
        </div>
        <div class="form-group">    
            <input class="form-control" type="text" name="picture" placeholder="Picture">
        </div>
        <div class="form-group">    
            <input class="form-control" type="text" name="tag_category" placeholder="Category">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>
{% endblock %}