{% extends "auctions/layout.html" %}
 
{% block body %}

    <h2>Create Listing</h2>
    <!--used enctype because of pictures-->
    <form action="{% url 'listing' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <textarea class="form-control" type="text" name="description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">      
            <input class="form-control" type="number" name="bid" min="0" placeholder="Starting Bid">
        </div>
        <div>
            <label for="picture">Insert Picture</label>
            <input class="form-control-file" id="picture" type="file" name="picture">
        </div>
        <!--literally just wanted little space between inputs so i used the simple <legend>-->
        <legend></legend>
        <div class="form-group">    
            <input class="form-control" type="text" name="tag_category" placeholder="Category">
        </div>
        {% if user.is_authenticated %}
            <input class="btn btn-primary" type="submit" value="Create Listing">
        {% else %}
            <p class="alert alert-danger">log in to be able to create a listing.</p>
        {% endif %}
    </form>

{% endblock %}                        