body {
    background-color: #51626d;
}

h2 {
    text-align: center;
    font-size: 30px;
}


/* index.html button */
.home_button{ 
    font-size: 20px;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
}

.home_button:hover {
    background-color: #444;
    color:aliceblue;
  }
  

/* sidebar */
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
.menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .menu a:hover {
    color: #f1f1f1;
  }
  
  .menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #menubtn {
    transition: margin-left .5s;
    padding: 16px;
  }
  

  input {
    width: 20%;
    background-color:#8d96a1;
    color: white;
    padding: 3px 5px;
    margin: 4px 0;
    border-radius: 2px;
  }
  
  input:hover {
    background-color: #686666;
  }
  

  .submit_btn {
    font-size: 20px;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
  }

  .submit_btn:hover {
    background-color: #444;
    color:aliceblue;
  }
  
  .add {
    background-color: #818b99;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1000px;
    text-align: center;
    margin: 50px;
  }

  .add_course {
    background-color: #1d3557;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1000px;
    margin: 50px;
    text-align: center;
  }

  .cancel_button {
    color: rgb(86, 86, 189);
    font-size: 18px;
    background-color: rgba(185, 185, 185, 0.57);
    padding: 6px 10px;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
  }

  .verify_button {
    color: rgb(147, 42, 42);
    font-size: 18px;
    background-color: rgba(185, 185, 185, 0.57);
    padding: 6px 10px;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
  }

  .verify_button:hover {
    background-color: #818181;
  }

  .cancel_button:hover {
    background-color: #818181;
  }

  .book {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    top: 10%;
    right: 10%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    animation-name: kay;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes kay{
  0%{

  }
  50%{
    scale: 2;
    transform: rotate(0);
    border-radius: 0;
  }
  100%{
    transform: none;
    border-radius: 50%;
    scale: 2;
  }
} 




